
& {background-color: @databank-ractive-window-background;box-shadow: @databank-ractive-window-box-shadow;border-radius: @databank-ractive-window-border-radius;}
& {border-top: @databank-ractive-window-border-top;border-right: @databank-ractive-window-border-right;border-bottom: @databank-ractive-window-border-bottom;border-left: @databank-ractive-window-border-left;}



&	.rw-interior > .rw-title {background-color: @databank-ractive-window-title-background; }
&	.rw-interior > .rw-title {margin: @databank-ractive-window-spacing @databank-ractive-window-spacing 0px @databank-ractive-window-spacing;}
&	.rw-interior > .rw-title {height: @databank-ractive-window-title-height;line-height: @databank-ractive-window-title-height;}

&	.rw-interior > .rw-controls {right: @databank-ractive-window-spacing;top: @databank-ractive-window-spacing;}
&	.rw-interior > .rw-controls { margin: @databank-ractive-window-button-margin; }
&	.rw-interior > .rw-controls button {border-top: @databank-ractive-window-button-border-top;border-right: @databank-ractive-window-button-border-right;border-bottom: @databank-ractive-window-button-border-bottom;border-left: @databank-ractive-window-button-border-left;}
&	.rw-interior > .rw-controls button {box-shadow: @databank-ractive-window-button-box-shadow;background-color: @databank-ractive-window-button-background-color;}
&	.rw-interior > .rw-controls button {width: @databank-ractive-window-button-size;height: @databank-ractive-window-button-size}
&	.rw-interior > .rw-controls button {margin-left: @databank-ractive-window-button-spacing;padding: @databank-ractive-window-button-padding;}



& .rw-interior > .rw-body {background-color: @databank-ractive-window-body-background;}
& .rw-interior > .rw-body {top: @databank-ractive-window-spacing + @databank-ractive-window-title-height + @databank-ractive-window-spacing;bottom: @databank-ractive-window-spacing;left: @databank-ractive-window-spacing;right: @databank-ractive-window-spacing;}
& .rw-interior > .rw-body {border-top: @databank-ractive-window-body-border-top;border-right: @databank-ractive-window-body-border-right;border-bottom: @databank-ractive-window-body-border-bottom;border-left: @databank-ractive-window-body-border-left;}
& .rw-interior > .rw-body {color: @databank-ractive-window-body-color}
& .rw-interior > .rw-dialog {background-color: @databank-ractive-window-body-background;}
& .rw-interior > .rw-dialog-cover {background-color: @databank-ractive-window-body-cover-background;}


&.active {background-color: @databank-ractive-window-active-background;}
&.active	.rw-interior > .rw-title {background-color: @databank-ractive-window-active-title-background; }
&.active .rw-interior > .rw-body {background-color: @databank-ractive-window-active-body-background;}
