.ractive-window.theme-windows {
	& {
		@databank-ractive-window-background: #d4d0c8;
		@databank-ractive-window-border-top: 1px solid #dee2e4;
		@databank-ractive-window-border-right: 1px solid #38494b;
		@databank-ractive-window-border-bottom: 1px solid #38494b;
		@databank-ractive-window-border-left: 1px solid #dee2e4;
		@databank-ractive-window-box-shadow: -1px -1px 1px #92babc, 1px 1px 1px #3f8080;
		@databank-ractive-window-border-radius: 0px;
		@databank-ractive-window-spacing: 1px;

		@databank-ractive-window-title-background: #9e9e9e;
		@databank-ractive-window-title-height: 28px;

		@databank-ractive-window-button-background-color: #d4d0c8;
		@databank-ractive-window-button-border-top: 1px solid #ffffff;
		@databank-ractive-window-button-border-right: 1px solid #404040;
		@databank-ractive-window-button-border-bottom: 1px solid #404040;
		@databank-ractive-window-button-border-left: 1px solid #ffffff;
		@databank-ractive-window-button-box-shodow: inset -1px -1px 1px #808080;
		@databank-ractive-window-button-border-radius: 0px;
		@databank-ractive-window-button-size: 24px;
		@databank-ractive-window-button-spacing: 1px;
		@databank-ractive-window-button-margin: 2px;
		@databank-ractive-window-button-padding: 4px;

		@databank-ractive-window-body-background: #d4d0c8;
		@databank-ractive-window-body-color: #666;
		@databank-ractive-window-body-border-top: 0px;
		@databank-ractive-window-body-border-right: 0px;
		@databank-ractive-window-body-border-bottom: 0px;
		@databank-ractive-window-body-border-left: 0px;
		@databank-ractive-window-body-cover-background: #d4d0c8;

		@databank-ractive-window-active-background: #d4d0c8;
		@databank-ractive-window-active-title-background: #00a;
		@databank-ractive-window-active-body-background: #d4d0c8;

		@import (multiple,reference) "./theme.less";
	}
}
